@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.font-playfair {
  font-family: var(--font-playfair), serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

.font-fira-code {
  font-family: var(--font-fira-code), monospace;
}

@layer base {
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  }
}

